
.header {
    border-right: 1px solid #a5a5a5;
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
  }
  .header h1 {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
  }
  
  .user-options {
    display: flex;
    flex-direction: row;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .menu ul li {
    font-size: 1rem;
    list-style: none;
    margin-bottom: calc(1rem + 6px);
    text-align: left;
    font-weight: 300;
    margin-left: 1rem;
  }
  .icons img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 2rem;
  }
  
  .icons .bx {
    font-size: 1.7rem;
    margin-bottom: calc(1rem + 2px);
    margin-left: 2rem;
  }
  